.header-container {
  display: flex;
  align-content: center;
  align-items: center;
  padding-top: 18px;
  padding-left: 32px;
  padding-right: 32px;
}

.header-nav {
  padding-right: 42px;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-nav li {
  margin-right: 15px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-nav .nav-item {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.header-nav .nav-item:hover {
  color: white;
  font-weight: 700;
}

.header-burger {
  visibility: hidden;
  width: 0;
  margin-left: 12px;
}

.nav-item {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .header-nav {
    width: 0;
    visibility: hidden;
  }

  .header-burger {
    width: auto;
    visibility: visible;
  }
}
